[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
pillow = "*"
django-phone-field = "*"
django-countries = "*"
django-seed = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
