{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form|cripsy }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="#">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'users:signup' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
