{% load i18n %} 
{% load static %}

<nav class="flex items-center justify-between px-5 py-3 shadow">
  <h2 class="flex items-center gap-1">
    <img class="w-10" src="{% static 'img/logo.png' %} " alt="airbnb logo" />
    <a href="{% url 'core:home' %}" class="text-4xl">DjangoBnB</a>
  </h2>
  <ul class="flex gap-4 text-sm font-medium">
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
    <li>
        <a href="{% url 'rooms:search' %}">Search</a>
    </li>
  </ul>
  <ul class="flex gap-4">
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'account_logout' %}">Logout</a>
        </li>
    {{user.get_full_name}} {% else %}
        <li>
            <a href="{% url 'account_login' %}">Log In</a>
        </li>
        <li>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        </li>
    {% endif %}
  </ul>
</nav>
